<div class="button_caller running ld ld-ext-left">
    <div class="ld ld-ball ld-bounce"></div>
    APPELER
    <div></div>
</div>
<br>
<p align="right">Nos conseillers sont disponibles 24h/24 et 7j/7.<br>

<span style="color:black">Temps moyen de réponse sur la dernière heure écoulée : </span>[00mn{{ 2*("now"|date('H')) }}s]<br>
<span style="color:black">Conseillers disponibles à cet instant : </span>[{{ 1+("now"|date('i')%3) }}]<br>
    <img src="{{ asset('assets/img/cartouche.png') | imagine_filter('cartouche') }}" alt="118412.png"><br>
    <span style="font-size:9px">*Service d'annuaire et de mise en relation indépendant des marques<br><br>
    Conditions tarifaires disponibles sur le site <a href="http://www.118412.fr">www.118412.fr</a> et sur <a href="http://infosva.org">infosva.org</a></p>
</span>
