
# config/packages/easy_admin.yaml
easy_admin:
    entities:
        Article:
            controller: App\Controller\EasyAdmin\ArticleController
            class: App\Entity\Article
            form:
                - { property: 'name', type_options: { block_name: 'custom_name' } }
            new:
                fields:
                - { property: 'name' }
                - { property: 'content', type: 'fos_ckeditor' }
                - { property: 'categories', type: 'easyadmin_autocomplete', type_options: { mapped: false, class: 'App\Entity\Categorie', multiple: true} }
                - { property: 'images', type: 'collection', type_options: { entry_type: 'App\Form\ImageType' , by_reference: false}}

            edit:
                fields:
                - { property: 'name', type_options: { block_name: 'custom_name' } }
                - { property: 'content', type: 'fos_ckeditor' }
                - { property: 'categories', type: 'easyadmin_autocomplete', type_options: { class: 'App\Entity\Categorie', multiple: true} }
                - { property: 'images', type: 'collection', type_options: { entry_type: 'App\Form\ImageType' , by_reference: false}}


        Categorie:
            label: 'Categories'
            class: App\Entity\Categorie
            form:
                fields:
                - { property: 'name', type: 'text' }
                - { property: 'description', type: 'fos_ckeditor' }