<div class="pi-header">
    <div class="pi-section-w pi-section-dark">
        <div class="pi-section pi-row-sm">

            <!-- Phone -->
            <div class="pi-row-block pi-row-block-txt">
                <i class="pi-row-block-icon icon-phone pi-icon-base pi-icon-square"></i>Call Us:
                <strong>+7.906.229.2627</strong>
            </div>
            <!-- End phone -->

            <!-- Email -->
            <div class="pi-row-block pi-row-block-txt pi-hidden-xs"><i
                        class="pi-row-block-icon icon-mail pi-icon-base pi-icon-square"></i>Email: <a
                        href="#">hello@pitheme.com</a>
            </div>
            <!-- End email -->

            <!-- Social icons -->
            <div class="pi-row-block pi-pull-right pi-hidden-2xs">
                <ul class="pi-social-icons pi-stacked pi-jump pi-full-height pi-bordered pi-small pi-colored-bg clearFix">
                    <li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                    <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
                    <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
                </ul>
            </div>
            <!-- End social icons -->

            <!-- Text -->
            <div class="pi-row-block pi-row-block-txt pi-pull-right pi-hidden-xs">Follow Us:</div>
            <!-- End text -->

        </div>
    </div>


<!-- End header row -->
<div class="pi-header-sticky">
    <!-- Header row -->
    <div class="pi-section-w pi-section-white pi-shadow-bottom pi-row-reducible">
        <div class="pi-section pi-row-lg">
            <!-- Logo -->
            <div class="pi-row-block pi-row-block-logo">
                <a href="index.html">
                    <img src="{{ asset('assets/img/logo-base.png') }}" alt="">
                </a>
            </div>
            <!-- End logo -->
            <!-- Text -->
            <div class="pi-row-block pi-row-block-txt pi-hidden-2xs">HTML5 template</div>
            <!-- End text -->
            {{ include('app/menu/menu.html.twig') }}
            {{ include('app/menu/mobile_menu.html.twig') }}
        </div>
    </div>
    <!-- End header row -->
</div>
<!-- End header -->
</div>