<div class="pi-header">


<!-- End header row -->
<div class="pi-header-sticky">
    <!-- Header row -->
    <div class="pi-section-w pi-section-white pi-shadow-bottom pi-row-reducible">
        <div class="pi-section pi-row-lg">
            <!-- Logo -->
            <div class="pi-row-block pi-row-block-logo">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="">
                </a>
            </div>
            {% set slug = null %}
            {% if route == "categorie" %}
                {% set slug = app.request.attributes.get("categorie").slug %}
            {% endif %}
            <!-- End logo -->


            {{ include('app/menu/menu.html.twig', {'route': route, 'slug': slug }) }}
            {{ include('app/menu/mobile_menu.html.twig', {'route': route, 'slug': slug }) }}
        </div>
    </div>
    <!-- End header row -->
</div>
<!-- End header -->
</div>