{% extends "base.html.twig" %}
{% block content %}

    <!-- - - - - - - - - - SECTION - - - - - - - - - -->
    <div class="pi-section-w pi-section-white piTooltips">
        <div class="pi-section pi-padding-bottom-80">
            <!-- Intro text -->
            <p class="lead-30 pi-text-dark pi-text-center">
                Nam libero tempore,
                <span class="pi-text-bg-base">cum soluta</span> nobis est optio cumque nihil impedit quo minus id quod
                maxime placeat facere

            </p>
            <hr class="pi-divider-gap-70">
            <!-- End intro text -->
            <!-- Logos gallery -->
            <div class="pi-row pi-liquid-col-2xs-2 pi-liquid-col-sm-5 pi-gallery pi-gallery-small-margins">
                <!-- Logo -->
                {% for categorie in categories %}
                    {% set slug = categorie.slug %}
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="{{ slug }}">
                        <a href="{{ path('categorie', {'categorie': slug }) }}">
                            <span class="pi-img-border-double pi-img-opacity-70" style="background: #f6f9f9;">
                            <img src="https://via.placeholder.com/182x127.png?text={{ slug }}" alt="{{ slug }}">
                            </span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <!-- End Logo -->
            </div>
            <!-- End logos gallery -->
        </div>
    </div>
    <!-- - - - - - - - - - END SECTION - - - - - - - - - -->

{% endblock %}