{% macro home_slider(filepath) %}
    <div class="pi-slide">
        <div class="pi-img-w pi-img-round-corners">
                <img src="{{ filepath | imagine_filter('home_slider')}}" width="321" height="198" alt="picture.png">
        </div>
    </div>
{% endmacro %}