
{% set route = app.request.attributes.get("route") %}
{% set slug  = app.request.attributes.get("slug") %}
{% for categorie in categories %}
<li class="{{ route == 'categorie' and slug == categorie.slug ? 'active' }}">
    <a href="{{ path('categorie', {'categorie': categorie.slug }) }}">
        <span>{{ categorie.name | capitalize}}</span>
    </a>

</li>
{% endfor %}