<!-- Menu -->
<div class="pi-row-block pi-pull-right">
    <ul class="pi-simple-menu pi-has-hover-border pi-full-height pi-hidden-sm">
        <li class="{{ route == "home" ? "active" }}">
            <a href="{{ path('home') }}">
                <span>Home</span>
            </a>

        </li>
        {{ render(controller("App\\Controller\\AppController::renderMenu", { 'route': route, 'slug' : slug})) }}
    </ul>
</div>
<!-- End menu -->
<!-- Mobile menu button -->
<div class="pi-row-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only">
    <button class="btn pi-btn pi-mobile-menu-toggler" data-target="#pi-main-mobile-menu">
        <i class="icon-menu pi-text-center"></i>
    </button>
</div>
<!-- End mobile menu button -->