<!-- Mobile menu -->
<div id="pi-main-mobile-menu" class="pi-section-menu-mobile-w pi-section-dark">
    <div class="pi-section-menu-mobile">
        <!-- Search form -->
        <form class="form-inline pi-search-form-wide ng-pristine ng-valid" role="form">
            <div class="pi-input-with-icon">
                <div class="pi-input-icon">
                    <i class="icon-search-1"></i>
                </div>
                <input type="text" class="form-control pi-input-wide" placeholder="Search..">
            </div>
        </form>
        <!-- End search form -->
        <ul class="pi-menu-mobile pi-items-have-borders pi-menu-mobile-dark">
            <li class="{{ route == "home" ? "active" }}">
                <a href="{{ path('home') }}">
                    <span>Home</span>
                </a>
            </li>
            {{ include ("app/menu/categories.html.twig", { 'route': route, 'slug' : slug, 'categories': categories}) }}
        </ul>
    </div>
</div>
<!-- End mobile menu -->